BOT_TOKEN=your_telegram_bot_token
BOOK_URL=https://4book.org/gdz-reshebniki-ukraina/10-klas/reshebnik-algebra-10-klas-merzlyak-2018-gdz
WEBHOOK_URL=https://your-koyeb-domain.koyeb.app
WEBHOOK_PATH=your-secret-path
