BOT_TOKEN=your_telegram_bot_token
BOOK_URL=https://4book.org/gdz-reshebniki-ukraina/10-klas/reshebnik-algebra-10-klas-merzlyak-2018-gdz
BOOK_URL_UKR_MOVA=https://4book.org/gdz-reshebniki-ukraina/10-klas/gdz-ukrayinska-mova-10-klas-avramenko-2018
WEBHOOK_URL=https://your-koyeb-domain.koyeb.app
WEBHOOK_PATH=your-secret-path
